
@{
    ViewData["Title"] = "Thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        var availableTags = [
            "Dự án 1",
            "Dự án 2",
            "Dự án 2",
            "Dự án 2",
            "Dự án 3"
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>
<style>

    .Group-PhieuThu {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 15px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
    }

    .PhieuThu {
        margin: auto;
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 15px;
        width: 200px;
        float: left;
    }

    .pagination {
        margin-left: 35%;
        margin-top: 1%;
    }

    #btnThemPhieuThu {
        background-color: #009688;
    }

    #btnXoahetthongtinPhieuThu {
        background-color: #009688;
    }

    #inpTimKiem {
        margin-left: auto;
        margin-top: -25px;
    }

    #btnTimKiem {
        background-color: #009688;
    }
</style>
<main class="app-content">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>Dự án</h4>
                    <p>
                        <b>
                            <div class="ui-widget">
                                <label for="tags">Tags: </label>
                                <input id="tags" placeholder="" />
                            </div>

                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">
                    <i class="fa fa-star"></i> Danh sách phiếu chi
                    <div class="input-group col-sm-4" id="inpTimKiem">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="btnTimKiem">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </h3>


                <div class="Group-PhieuThu">
                    <div class="PhieuThu">
                        <p>Mã phiếu thu : </p>
                        <p>Nội dung thu : </p>
                        <p>Số tiền : </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>
                    <div class="PhieuThu">
                        <p>Mã phiếu thu </p>
                        <p>Nội dung thu </p>
                        <p>Số tiền </p>
                        <p>Người thanh toán : </p>
                        <p>Ghi chú :  </p>
                    </div>

                </div>
                <nav>
                    <ul class="pagination pg-teal">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">5</a></li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title"><i class="fa fa-star"></i> Thêm mới phiếu thu</h3>
                <form class="form-horizontal">

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Nội dung thu</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Số tiền</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Thanh toán bằng</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Ghi chú </label>
                        <div class="col-sm-5">
                            <textarea class="form-control" type="text" id="formGroupInputSmall"> </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" id="btnThemPhieuThu">Thêm mới</button>
                        </div>

                        <div class="col-sm-2">
                            <button type="reset" class="btn btn-success" id="btnXoahetthongtinPhieuThu">Xóa tất cả</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

