
@{
    ViewData["Title"] = "SettingServiceIndex";
}

<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/CSS_Rental/css/rental.css" rel="stylesheet" />
</head>

<body>

    <main class="app-content">
        <div class="page-item" style="height: 100%;">

            @* Tieu de *@
            <div>
                <div class="alert alert-warning" style="background-color:#009688;">
                    <h4 style="margin-bottom:0px; text-align:center;color:aliceblue">QUẢN LÝ DỊCH VỤ</h4>
                </div>
            </div>

            <div class="tile" style="height:450px">

                <div class="tile" style="border:solid 1px;border-color:darkgray;margin-left:50px;width:500px">
                   

                    <h5 style="text-align:left;background-color:#009688;color:aliceblue;width:130px;padding:5px">Chọn tên dự án </h5>
                    <div class="row">
                        <select class="form-control"style="width:250px;margin-left:14px">
                            <option>h3</option>
                            <option>an khang</option>
                            <option>thịnh vượng</option>
                            <option>phát tài</option>
                        </select>
                        <a class="btn btn-primary" style="background-color: #007065;color:white;margin-left:15px;"href="@Url.Action("CreatService","RentalManager")">Xem</a>
                    </div>
                </div>


            </div>
        </div>
    </main>
</body>

