@model string
@{
    string[] names = new string[12];
    int i = 0;
    string name = "";
    if (Model != null)
    {
        name = Model.ToString();
    }
}
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <style>
        .app-menu__item.property, app-menu__item:hover, app-menu__item:focus {
            background: #0d1214;
            text-decoration: none;
            color: #fff;
        }
    </style>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<main class="app-content" style="margin-top:20px">
    <div class="row">
        <div class="col-lg-3">
            <p class="bs-component">
                <div class="form-group">
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tile mb-4" style="min-height: calc(90vh - 50px);">
                <div class="page-header">
                    <div class="tile-title-w-btn">
                        <h2 class="title" id="navs" style="color:#009688">@name</h2>
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-area="" asp-controller="Property" asp-action="Update"><i class="fa fa-lg fa-edit"></i></a>
                            <a class="btn btn-primary" onclick="return confirm();" href="#"><i class="fa fa-lg fa-trash"></i></a>
                            <script src="~/js/plugins/pace.min.js"></script>
                            <script type="text/javascript" src="~/js/plugins/sweetalert.min.js"></script>
                            <script type="text/javascript">
                                function confirm() {
                                    swal({
                                        title: "Bạn muốn xóa dữ liệu này không?",
                                        text: "Bạn sẽ không thể khôi phục lại dữ liệu này!",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonClass: "btn-danger",
                                        confirmButtonText: "Có",
                                        cancelButtonText: "Không",
                                        closeOnConfirm: false,
                                        closeOnCancel: false
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            swal({
                                                title: "Đã xóa!",
                                                type: "success",
                                                text: "Dữ liệu của bạn đã được xóa.",
                                                confirmButtonText: "Hoàn thành!",
                                                showConfirmButton: true
                                            }, function () {
                                                window.location.href = '/Property/Delete';
                                            });
                                        } else {
                                            swal({
                                                title: "Hủy thao tác!",
                                                type: "error",
                                                text: "Dữ liệu của đã được giữ lại :)",
                                                confirmButtonText: "Đồng ý!",
                                                showConfirmButton: true
                                            });
                                        }
                                    }
                                    )
                                }
                            </script>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:2rem;">
                        <div class="col-lg-12">
                            <div class="bs-component">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul class="nav nav-tabs">
                                            @if (int.Parse(name.Split(' ').Last()) > 5)
                                            {
                                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#property"><i class="icon fa fa-building-o"></i> Bất động sản kèm theo</a></li>
                                            }
                                            else
                                            {
                                                <li class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#property"><i class="icon fa fa-building-o"></i> Bất động sản kèm theo</a></li>
                                            }
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#detail"><i class="icon fa fa-info"></i> Chi tiết</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#asset"><i class="icon fa fa-diamond"></i> Tài sản kèm theo</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="page-header">
                                            <div class="tile-title-w-btn">
                                                <h2 class="title" id="navs"></h2>
                                                <div class="btn-group">
                                                    @if (int.Parse(name.Split(' ').Last()) > 5)
                                                    {
                                                    <a class="btn btn-primary" asp-area="" asp-controller="Property" asp-action="AddNew"><i class="fa fa-lg fa-plus"></i> Thêm bất động sản kèm theo</a>
                                                    }
                                                    else
                                                    {
                                                    <button class="btn btn-primary" disabled><i class="fa fa-lg fa-plus"></i> Thêm bất động sản kèm theo</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    @if (int.Parse(name.Split(' ').Last()) > 5)
                                    {
                                        <div class="tab-pane fade" id="detail">
                                            <div class="tile">
                                                <div class="tile-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Tên bất động sản</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Địa chỉ</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="384 Hoàng Diệu">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Tỉnh/Thành phố</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="TP.Hồ Chí Minh">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Quận/Huyện</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="Q.4">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Phường/Xã</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="P.6">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Loại hình bất động sản</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="Tòa nhà">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade active show" id="detail">
                                            <div class="tile">
                                                <div class="tile-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Tên bất động sản</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="@name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Địa chỉ</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="384 Hoàng Diệu">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Tỉnh/Thành phố</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="TP.Hồ Chí Minh">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Quận/Huyện</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="Q.4">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Phường/Xã</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="P.6">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" style="font-size:20px">Loại hình bất động sản</label>
                                                            <input class="form-control" id="disabledInput" type="text" disabled="" value="Tòa nhà">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (int.Parse(name.Split(' ').Last()) > 5)
                                    {
                                        <div class="tab-pane fade active show" id="property">
                                            @for (var k = 0; k < 4; k++)
                                            {
                                                <div class="row">
                                                    @for (var j = 0; j < 3; j++)
                                                    {
                                                        <div class="col-lg-4">
                                                            @{names[i] = "Bất động sản " + (i + 1);
                                                            <a class="list-group-item list-group-item-action" href="/Property?=@names[i]" style="border-color:#009688">
                                                                <h4 class="list-group-item-heading">@names[i]</h4>
                                                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                                            </a>
                                                            i = i + 1;
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                                <br />
                                            }
                                        </div>
                                    }
                                    <div class="tab-pane fade" id="asset">
                                        @for (var k = 0; k < 4; k++)
                                        {
                                            <div class="row">
                                                @for (var j = 0; j < 3; j++)
                                                {
                                                    <div class="col-lg-4">
                                                        <div class="card mb-3 border-primary">
                                                            <div class="card-body">
                                                                <blockquote class="card-blockquote">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                                    <footer>
                                                                        Someone famous in
                                                                        <cite title="Source Title">Source Title</cite>
                                                                    </footer>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <br />
                                        }
                                        <div class="tile-footer" align="left">
                                            <a class="btn btn-primary" asp-area="" asp-controller="Property" asp-action="Update">Phân bổ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>