@{
    string[] name = new string[12];
    int i = 0;
}
<style>
    .app-menu__item.property, app-menu__item:hover, app-menu__item:focus {
        background: #0d1214;
        text-decoration: none;
        color: #fff;
    }
</style>
<main class="app-content" style="margin-top:20px">
    <div class="row">
        <div class="col-lg-3">
            <p class="bs-component">
                <div class="form-group">
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="tile mb-4" style="min-height: calc(90vh - 50px);">
            <div class="page-header">
                <div class="tile-title-w-btn">
                    <h2 class="title" id="navs" style="color:#009688">@Rental_WebCore2.Resources.RentalTexts.Pro_Listings</h2>
                </div>
            </div>
            @for (var k = 0; k < 4; k++)
            {
                <div class="row">
                    @for (var j = 0; j < 3; j++)
                    {
                        <div class="col-lg-4">
                            @{
                                <a class="list-group-item list-group-item-action" href="/@ViewContext.RouteData.Values["language"].ToString()/@ViewContext.RouteData.Values["controller"].ToString()" style="border-color:#009688">
                                    <h4 class="list-group-item-heading">@i</h4>
                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                </a>
                                i = i + 1;
                            }
                        </div>
                    }
                </div>
                <br />
            }
        </div>
    </div>
</main>