
@{
    ViewData["Title"] = "AddMaintenance1";
}
<main class="app-content">
    <h2>Thêm bảo trì sửa chữa</h2>

    <div class="form-group">
        <label for="exampleSelect1">Loại</label>
        <select class="form-control" id="exampleSelect1">
            <option>Sự cố phát sinh</option>
            <option>Thấp</option>
            <option>Trung bình</option>

        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Tên</label>
        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập tên">
    </div>

    <div class="form-group">
        <label for="exampleSelect1">Định kỳ</label>
        <select class="form-control" id="exampleSelect1">
            <option>Hằng ngày</option>
            <option>Thấp</option>
            <option>Trung bình</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleSelect1">Nhắc</label>
        <select class="form-control" id="exampleSelect1">
            <option>Trước 1 giờ</option>
            <option>Thấp</option>
            <option>Trung bình</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Ghi chú</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <button class="btn btn-primary" type="submit" style="background-color: #007065">Lưu</button>
    <button class="btn btn-primary" type="submit" style="background-color: #007065">Hủy</button>
</main>



