
@{
    ViewData["Title"] = "DashBoarchQLBTT";
}
<link href="~/css/maxcdn.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
                                                                                                                                                                                
<main class="app-content" >
    
    <link href="~/css/maxcdn.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <div class="container1">
        <div class="row">

            <div class="col-md-6">
                <div class="tile">
                    <h1>Công việc chưa giao</h1>
                </div>
                <div class="tile">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix" >
                            Cao
                            <div class="pull-right">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse01"
                                        aria-expanded="true" aria-controls="collapse01">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse01">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>
                                        <th>Ngày Sinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>Mary2</td>
                                        <td>Moe2</td>
                                        <td>mary@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>
                                        <td>july@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading clearfix">
                            Thấp
                            <div class="pull-right">
                                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse02"
                                        aria-expanded="false" aria-controls="collapse02">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse02">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>
                                        <th>Ngày Sinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>
                                        <td>mary@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>
                                        <td>july@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Trung Bình
                            <div class="pull-right">
                                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse06"
                                        aria-expanded="false" aria-controls="collapse06">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse06">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>
                                        <th>Ngày Sinh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>
                                        <td>mary@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>
                                        <td>july@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="tile">
                    <h1>Lịch bảo trì</h1>
                </div>
                <div class="tile">
                    <div class="panel panel-success">
                        <div class="panel-heading clearfix">
                            hư máy lạnh
                            <div class="pull-right">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse03"
                                        aria-expanded="true" aria-controls="collapse03">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse03">
                            <table class="table table-striped1">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>

                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>

                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clearfix">
                            hư máy lạnh
                            <div class="pull-right">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse04"
                                        aria-expanded="true" aria-controls="collapse03">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse04">
                            <table class="table table-striped1">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>

                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>

                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clearfix">
                            hư máy lạnh
                            <div class="pull-right">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse05"
                                        aria-expanded="true" aria-controls="collapse03">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse05">
                            <table class="table table-striped1">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>

                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>

                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clearfix">
                            hư máy lạnh
                            <div class="pull-right">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse07"
                                        aria-expanded="true" aria-controls="collapse03">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse07">
                            <table class="table table-striped1">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>

                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>

                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clearfix">
                            hư máy lạnh
                            <div class="pull-right">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse08"
                                        aria-expanded="true" aria-controls="collapse03">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body collapse" id="collapse08">
                            <table class="table table-striped1">
                                <thead>
                                    <tr>
                                        <th>Tiêu Đề</th>
                                        <th>Thời hạn</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>

                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>

                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>