
@{
    ViewBag.Title = "Detailtask";
}

<body>
    <main class="app-content">
        <div class="tile">
            <h2>Chi tiết công việc</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td><text style="background-color: #f44336">Cao</text></td>
                    </tr>
                    <tr>
                        <td>Tiêu đề</td>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Ngày bắt đầu</td>
                        <td>Larry</td>

                    </tr>
                    <tr>
                        <td>Thời gian</td>
                        <td>Larry</td>

                    </tr>
                    <tr>
                        <td>Mô tả</td>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" type="submit" style="background-color: #007065" asp-controller="Maintenance" asp-action="Task">Quay lại</a>
        </div>
    </main>
</body>
