
@{
    ViewData["Title"] = "DetailMaintenance";
}

<main class="app-content">
    <div class="col-xs-12 main-content-popup">
        <div class="tile">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h2>Chi tiết bảo trì sửa chữa</h2>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                    <table border="1" class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label for="exampleInputEmail1">Loại:</label>
                                </td>
                                <td>
                                    <label for="exampleInputEmail1">Sự cố phát sinh</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleInputEmail1" style="text-align:right">Tên: </label>
                                </td>
                                <td>
                                    <label for="exampleInputEmail1">ABCDEF</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleInputEmail1" style="text-align:right">Định kỳ: </label>
                                </td>
                                <td>
                                    <label for="exampleInputEmail1">Hằng tháng</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleInputEmail1" style="text-align:right">Nhắc: </label>
                                </td>
                                <td>
                                    <label for="exampleInputEmail1">Trước 1 tuần</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleInputEmail1" style="text-align:right">Ngày thực hiện tiếp theo: </label>
                                </td>
                                <td>
                                    <label for="exampleInputEmail1">09/02/2019 14:20</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleSelect1" style="text-align:right">Loại: </label>
                                </td>
                                <td>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>Chờ thực hiện</option>
                                        <option>Thấp</option>
                                        <option>Trung bình</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleTextarea" style="text-align:right">Ghi chú: </label>
                                </td>
                                <td>
                                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn btn-primary" type="submit" style="background-color: #007065;color:white">Lưu</a>
                    <a class="btn btn-primary" type="submit" style="background-color: #007065" asp-controller="Maintenance" asp-action="Maintenance">Hủy</a>

                </div>

                    <div class="col-md-6 col-xs-12">
                        <h2><i class="fa fa-calendar" style="margin-right:10px"></i>Lịch bảo trì</h2>
                        <table class="table" border="1">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">Trạng thái </label>
                                    </td>
                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">Ngày thực hiện </label>
                                    </td>
                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">Ghi chú: </label>
                                    </td>
                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">Hoạt động: </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <text style="background-color: #f44336">Đã hoàn thành</text>
                                    </td>

                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">13/12/2018 15:53</label>
                                    </td>
                                    <td>
                                        <label for="exampleTextarea" style="text-align:right">ABC</label>
                                    </td>

                                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:5px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    
</main>
    


