
@{
    ViewData["Title"] = "Suppliers";
}

<main class="app-content">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <div id="page_header" class="widget-box  ">
        <div class="widget-header" style="border-radius:4px">
            <h3 class="widget-title">
                <i class="ace-icon fa fa-star orange"></i>
                Nhà cung cấp
            </h3>

        </div>
        <div class="tile">
            <div class="widget-body" style="">
                <div class="widget-main">
                    <form action="/Task/Index" class="search-view form-inline" id="Task" method="get">
                        <p>
                            <input autocomplete="off" class="form-control" id="NTĐ" name="Name" placeholder="Nhập tiêu đề..." type="text" value="">
                            <input autocomplete="off" class="form-control" id="NBĐ" name="Name" placeholder="Từ ngày..." type="text" value="">
                            <input autocomplete="off" class="form-control" id="NKT" name="Name" placeholder="Đến ngày..." type="text" value="">
                            <input autocomplete="off" class="form-control" id="NKT" name="Name" placeholder="Đến ngày..." type="text" value="">

                            <span>
                                <select class="form-control" name="Priority" style="height:35px; width:200px;">
                                    <option value="">Độ ưu tiên</option>
                                    <option value="High">Cao</option>
                                    <option value="Medium">Trung bình</option>
                                    <option value="Low">Thấp</option>
                                </select>
                            </span>
                        </p>

                    </form>
                    <p style="margin-top:10px;">
                        <button class="btn btn-mini btn-primary" name="search" onclick="return true;"  value="Search" style="width:100px;background-color:#009688">
                            <span>Tìm kiếm</span>
                            <i class="ace-icon fa fa-search"></i>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile">
        <table class="table" style="margin-top:15px">

            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Loại</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><a class="fa fa-edit" style="color:black" asp-controller="Maintenance" asp-action="EditSuppliers"></a></td>

                </tr>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                </tr>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                </tr>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                </tr>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                </tr>
                <tr>
                    <td>độ ưu tiên</td>
                    <td>aa</td>
                    <td>độ ưu tiên</td>
                    <td>độ ưu tiên</td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="margin-left:10px; margin-right:15px"></i><i class="fa fa-edit" style="color:black"></i></td>

                </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
    <a class="btn btn-primary icon-btn"  style="background-color:#007d71; margin-top:25px" asp-controller="Maintenance" asp-action="CreateSuppliers"><i class="fa fa-plus"></i>Thêm mới</a>
</main>




