
@{
    ViewData["Title"] = "Task";
}


<body>
    <main class="app-content">
        <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
        <h3 class="widget-title">
            <i class="ace-icon fa fa-star orange"></i>
            Công việc thực hiện
        </h3>
        <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
        <div id="page_header" class="widget-box  ">

            <div class="tile">
                <p>
                    <span class="inline" style="margin-left:0px">
                        <label style="border:2px; 3px; padding: 1px 3px; color: black; font-size: 14px; height:24px">
                            <input name="IsAssigned" type="radio" class="ace" value="False" checked="checked">
                            <span class="lbl"> Chưa phân công</span>
                        </label>
                        <label style=" border:2px; border-radius: 3px; padding: 1px 3px; color: black; font-size: 14px;height:24px;width:120px;">
                            <input name="IsAssigned" type="radio" class="ace" value="True">
                            <span class="lbl"> Đã phân công</span>
                        </label>
                    </span>
                </p>

                <div class="widget-body" style="">
                    <div class="widget-main">
                        <form action="/Task/Index" class="search-view form-inline" id="Task" method="get">
                            <div>
                                <p>

                                    <input autocomplete="off" class="form-control" id="NTĐ" name="Name" placeholder="Nhập tiêu đề..." type="text" value="">
                                    <input autocomplete="off" class="form-control" id="NBĐ" name="Name" placeholder="Từ ngày..." type="text" value="">
                                    <input autocomplete="off" class="form-control" id="NKT" name="Name" placeholder="Đến ngày..." type="text" value="">
                                    <select class="form-control" id="Priority" name="Priority" style="height:35px; width:150px">
                                        <option value="">Độ ưu tiên</option>
                                        <option value="High">Cao</option>
                                        <option value="Medium">Trung bình</option>
                                        <option value="Low">Thấp</option>
                                    </select>
                                </p>
                            </div>


                        </form>
                        <p style="margin:0px;">
                            <button class="btn btn-mini btn-primary" name="search" onclick="return true;" type="submit" value="Search" style="background-color:#009688">
                                <span>Tìm kiếm</span>
                                <i class="ace-icon fa fa-search"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile">
            <table class="table" style="margin-top:15px">
                <thead>
                    <tr>
                        <th>Độ ưu tiên</th>
                        <th>Tiêu đề</th>
                        <th>Tình trạng phân công</th>
                        <th>Thời gian</th>
                        <th>Ngày phát sinh</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td><a asp-controller="Maintenance" asp-action="Detailtask">aa</a></td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button  aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit" ></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>

                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td>aa</td>
                        <td>độ ưu tiên</td>
                        <td><button aria-hidden="true" style="margin-left:0px; margin-right:10px"><i class="fa fa-trash"></i></button><button style="color:black" onclick="EditTask(0)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul class="pagination" >
                    <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
        <a class="btn btn-primary icon-btn" style="background-color:#007d71; margin-top:25px;color:white" onclick="AddTask(0)"><i class="fa fa-plus"></i>Thêm mới</a>
    </main>
</body>


<!-- Add New -->
<div class="modal fade" id="Mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
                <text class="form-control" style="background-color:#007065; height:50px;color:aliceblue;border:hidden; text-align:center;font-size:25px; padding-left:0px;border-radius:unset" id="modalTitle ;">Thêm mới
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                 </text>
                <div class="modal-header"></div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tiêu đề</label>
                            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập Tiêu đề">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngày bắt đầu</label>
                            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập ngày bắt đầu">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngày kết thúc</label>
                            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập ngày kết thúc">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">Độ ưu tiên</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>Cao</option>
                                <option>Thấp</option>
                                <option>Trung bình</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">mô tả</label>
                            <textarea class="form-control" id="mota" rows="3" placeholder="Nhập mô tả"></textarea>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" style="background-color: #007065;color:white">Lưu</a>
                            <a class="btn btn-primary" style="background-color: #007065;color:white" data-dismiss="modal">Hủy</a>
                        </div>

                    </form>
                </div>
        </div>
    </div>
</div>


<!-- Edit -->
<div class="modal fade" id="Mymodal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <text class="form-control" style="background-color:#007065; height:50px;color:aliceblue;border:hidden; text-align:center;font-size:25px; padding-left:0px;border-radius:unset" id="modalTitle">
                Chỉnh sửa
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white; font-size:30px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </text>
            <div class="modal-header"></div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tiêu đề</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập Tiêu đề">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ngày bắt đầu</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập ngày bắt đầu">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ngày kết thúc</label>
                        <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Nhập ngày kết thúc">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Độ ưu tiên</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>Cao</option>
                            <option>Thấp</option>
                            <option>Trung bình</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">mô tả</label>
                        <textarea class="form-control" id="mota" rows="3" placeholder="Nhập mô tả"></textarea>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" style="background-color: #007065;color:white">Lưu</a>
                        <button class="btn btn-primary" style="background-color: #007065" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function AddTask(TaskId) {
        $("#form")[0].reset();
        $("#modalTitle").html("Thêm mới");
        $("#Mymodal").modal();
    }
    function EditTask(TaskEditId) {
        $("#form1")[0].reset();
        $("#modalTitle").html("Chỉnh sửa");
        $("#Mymodal1").modal();
    }
</script>
