
@{
    ViewData["Title"] = "AddNew";
}
<div class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-building-o"></i> Thêm mới bất động sản</h1>
        </div>
    </div>
    <div class="tile">
        <div class="tile-body">
            <form>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Tên bất động sản</label>
                    <input class="form-control" type="text" placeholder="Tên bất động sản">
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Địa chỉ</label>
                    <input class="form-control" type="text" placeholder="Số nhà & tên đường">
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Tỉnh/Thành phố</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>TP.Hà Nội</option>
                        <option>Huế</option>
                        <option>Đà Nẵng</option>
                        <option>Nha Trang</option>
                        <option>TP.Hồ Chí Minh</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Quận/Huyện</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>TP.Hà Nội</option>
                        <option>Huế</option>
                        <option>Đà Nẵng</option>
                        <option>Nha Trang</option>
                        <option>TP.Hồ Chí Minh</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Phường/Xã</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>TP.Hà Nội</option>
                        <option>Huế</option>
                        <option>Đà Nẵng</option>
                        <option>Nha Trang</option>
                        <option>TP.Hồ Chí Minh</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px">Loại hình bất động sản</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>TP.Hà Nội</option>
                        <option>Huế</option>
                        <option>Đà Nẵng</option>
                        <option>Nha Trang</option>
                        <option>TP.Hồ Chí Minh</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="tile-footer row">
            <div class="col-lg-3">
                <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Property" asp-action="Create"><i class="fa fa-fw fa-lg fa-check-circle" style="font-size:20px"></i>Thêm</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-secondary btn-lg btn-block" asp-area="" asp-controller="Property" asp-action="ListProperty"><i class="fa fa-fw fa-lg fa-times-circle"></i>Hủy bỏ</a>
            </div>
        </div>
    </div>
</div>

