
@{
    ViewData["Title"] = "DashboardIndex";
}

<html>
<head>
    <link href="~/css/main.css" rel="stylesheet" />
</head>

<body>
    <main class="app-content">
        <div class="page-content"style="height:100%">

            <!--PAGE CONTENT BEGINS HERE-->
            <style>
                #select_project_wrap {
                    display: none;
                }

                .page-content {
                    max-width: 100%;
                    margin: auto;
                    border-top: none;
                    background: none;
                }

                #select_application_wrap {
                    display: none;
                }

                .widget-box {
                    margin-bottom: 20px;
                }

                .widget-body {
                    min-height: 280px;
                }

                .btn-home-add {
                    width: 120px;
                    height: 120px;
                    display: block;
                    line-height: 118px;
                    text-align: center;
                    border: 2px solid #ccc;
                    border-radius: 50%;
                    margin: 0px auto;
                }
            </style>

            @* Thong ke *@
            <div class="row">
                <div class="col-sm-6">

                    <div class="tile">
                        <div class="widget-header">
                            <h5 class="widget-title">Thống kê</h5>
                        </div>
                        <hr />
                        <div class="widget-box">
                            <div class="widget-main">
                                <div id="Dashboard_Summary">
                                    <style>
                                    </style>
                                    <div class="row" style="padding-top:20px; padding-bottom:80px">
                                        <div id="thongke_nha" class="col-sm-6" style="height:170px">
                                            <div >
                                                @*<a class="btn-home-add" href="/REProduct">+ thêm mới</a>*@
                                                <img src="~/images/Rental/Dashboard/house.jpg"style="width:100px;margin-top:-20px;margin-left:30px" />
                                            </div>
                                            <div  style="margin-top:20px;margin-left:25px">
                                                <h3>
                                                    <a href="">
                                                        <span style="color:#333"><b>12</b></span>
                                                        <span style="color:none">Nhà</span>
                                                    </a>
                                                </h3>
                                                <p>
                                                    <a href="/REProduct?Status=empty">
                                                        <span class="label label-warning" style="width: 10px; height: 10px; display: inline-block; padding: 0px;background-color:red"></span>
                                                        <span style="color:#333">
                                                            <b>
                                                                7
                                                            </b>
                                                        </span>
                                                        Nhà còn trống
                                                    </a>
                                                </p>
                                                <p>
                                                    <a href="#">
                                                        <span class="label label-success" style="width: 10px; height: 10px; display: inline-block; padding: 0px;background-color:blue"></span>
                                                        <span style="color:#333">
                                                            <b>
                                                                5
                                                            </b>
                                                        </span>
                                                        Nhà đã thuê
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        @* Thong ke phong *@
                                        <div id="thongke_phong" class="col-sm-6">
                                            <div >
                                                @*<a class="btn-home-add" href="/REProduct">+ thêm mới</a>*@
                                                <img src="~/images/Rental/Dashboard/room.jpg"style="width:100px;margin-top:-20px;margin-left:40px" />
                                            </div>
                                            <div class="pull-right" style="margin-top:30px;margin-right:55px">
                                                <h3>
                                                    <a href="">
                                                        <span style="color:#333"><b>70</b></span>
                                                        <span style="color:none">Phòng</span>
                                                    </a>
                                                </h3>
                                                <p>
                                                    <a href="/REProduct?CheckAvailableSlot=True">
                                                        <span class="label label-warning" style="width: 10px; height: 10px; display: inline-block; padding: 0px;background-color:red"></span>
                                                        <span style="color:#333">
                                                            <b>
                                                                40
                                                            </b>
                                                        </span>
                                                        Phòng còn trống
                                                    </a>
                                                </p>
                                                <p>
                                                    <a href="/REProduct?CheckAvailableSlot=False">
                                                        <span class="label label-success" style="width: 10px; height: 10px; display: inline-block; padding: 0px;background-color:blue"></span>
                                                        <span style="color:#333">
                                                            <b>
                                                                30
                                                            </b>
                                                        </span>
                                                        Phòng đã thuê
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Dien nuoc *@
                    <div class="tile" style="height:220px">
                        <div class="widget-header">
                            <h5 class="widget-title">Điện nước</h5>
                            <hr />
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="Dashboard_SummaryInvoiceEW">
                                    <div class="clearfix">
                                        <a onclick="OpenPopup('/InvoiceEW/ListWarningInvoiceEW?IsWarningEW=True','',0,800)">
                                            <div class="btn-outline-primary" style="border:solid;border-color:darkgrey;border-width:1px;margin-top:30px">
                                                <div class="infobox-icon">
                                                    <img src="~/images/Rental/Dashboard/icons8-calculator-50.png" style="width:35px;margin-left:7px;margin-top:8px" />
                                                </div>
                                                <div class="infobox-data" style="margin-left:45px;margin-top:-39px">
                                                    <span class="infobox-data-number ng-binding">0</span>
                                                    <div class="infobox-content" style="text-decoration: underline; color: #5090C1;">Sản phẩm đến hạn ghi điện nước<ul></ul></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Hop dong *@
                <div class="col-sm-6">
                        <div class="tile" style="height:220px">
                            <div class="widget-header">
                                <h5 class="widget-title">Hợp đồng</h5>
                                <hr>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div id="Dashboard_Contract">

                                        @* HD sap het han *@
                                        <div class="clearfix">
                                            <div class="row">
                                                <a href="/Contract?Status=expired">
                                                    <div class=" btn-outline-primary" style="width:180px;height:60px;padding-top:3px;border:solid;border-width:1px;border-color:darkgrey;margin-left:10px">
                                                        <div class="infobox infobox-red">
                                                            <div class="row">
                                                                <div class="infobox-icon">
                                                                    <img src="~/images/Rental/Dashboard/icons8-red-file-64.png" style="width:40px;margin-left:20px;margin-top:5px" />
                                                                </div>
                                                                <div class="infobox-data" style="margin-left:5px;margin-top:3px">
                                                                    <span class="infobox-data-number ng-binding">1</span>
                                                                    <div class="infobox-content" style="text-decoration: underline; color: none;"> HĐ sắp hết hạn</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                @* HD bao thannh ly *@
                                                <a href="/Contract?Status=liquidated">
                                                    <div class="btn-outline-primary" style="width:180px;height:60px;padding-top:3px;border:solid;border-width:1px;border-color:darkgrey;margin-left:10px">
                                                        <div class="row">
                                                            <div class="infobox-icon">
                                                                <img src="~/images/Rental/Dashboard/icons8-yellow-file-512.png" style="width:40px;margin-left:20px;margin-top:5px" />
                                                            </div>
                                                            <div class="infobox-data" style="margin-left:5px;margin-top:3px">
                                                                <span class="infobox-data-number ng-binding">0</span>
                                                                <div class="infobox-content" style="text-decoration: underline; color: none;">HĐ báo thanh lý</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    @* Tai chinh *@
                    <div class="tile">
                        <h5 class="widget-title">Tài chính</h5>
                        <hr />
                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="Dashboard_Invoice">
                                    @*<p><b>Phí dịch vụ</b></p>
                                    <div class="clearfix">
                                        <a onclick="OpenPopup('/REProductInvoice/ListByStatus?Status=Ch%C6%B0a%20thu%20ti%E1%BB%81n&amp;Name=Thu%20ph%C3%AD%20thu%C3%AA&amp;IsPopup=True','',0,0)">
                                            <div class="infobox infobox-orange">
                                                <div class="infobox-icon">
                                                    <img src="~/images/Rental/Dashboard/icons8-cheap-$1-50.png" />
                                                   
                                                </div>
                                                <div class="infobox-data">
                                                    <span class="infobox-data-number ng-binding">0</span>
                                                    <div class="infobox-content" style="text-decoration: underline; color: #5090C1;">HĐ đến hạn thu phí</div>
                                                </div>
                                                <div class="badge badge-warning">
                                                    0 VNĐ
                                                </div>
                                            </div>
                                        </a>
                                        <a onclick="OpenPopup('/REProductInvoice/ListByStatus?Status=Qu%C3%A1%20h%E1%BA%A1n&amp;Name=Thu%20ph%C3%AD%20thu%C3%AA&amp;IsPopup=True','',0,0)">
                                            <div class="infobox infobox-red">
                                                <div class="infobox-icon">

                                                    <img src="~/images/Rental/Dashboard/icons8-cheap-$2-50.png" />
                                                </div>
                                                <div class="infobox-data">
                                                    <span class="infobox-data-number ng-binding">0</span>
                                                    <div class="infobox-content" style="text-decoration: underline; color: #5090C1;">HĐ quá hạn thu phí</div>
                                                </div>
                                                <div class="badge badge-danger">
                                                    0 VNĐ
                                                </div>
                                            </div>
                                        </a>
                                    </div>*@
                                    <p><b>Phí thuê </b></p>
                                    <div class="clearfix">
                                        <div class="row">
                                            <a onclick="OpenPopup('/REProductInvoice/ListByStatus?Status=Ch%C6%B0a%20thu%20ti%E1%BB%81n&amp;Name=Thu%20ph%C3%AD%20thu%C3%AA%20%26%20d%E1%BB%8Bch%20v%E1%BB%A5&amp;IsPopup=True','',0,0)">
                                                <div class="btn-outline-primary" style="border:solid;border-color:darkgray;border-width:1px;margin-left:5px">
                                                    <div class="infobox-icon">
                                                        <img src="~/images/Rental/Dashboard/icons8-cheap-$1-50.png"style="margin-left:2px;" />
                                                    </div>
                                                    <div class="infobox-data"style="margin-left:15px;width:210px">
                                                        <span class="infobox-data-number ng-binding">0</span>
                                                        <div class="infobox-content" style="text-decoration: underline; color: none;">Sản phẩm đến tháng đóng tiền<ul></ul></div>
                                                    </div>
                                                    @*<div class="badge badge-warning">
                                                        0 VNĐ
                                                    </div>*@
                                                </div>
                                            </a>
                                            <a onclick="OpenPopup('/REProductInvoice/ListByStatus?Status=Qu%C3%A1%20h%E1%BA%A1n&amp;Name=Thu%20ph%C3%AD%20thu%C3%AA%20%26%20d%E1%BB%8Bch%20v%E1%BB%A5&amp;IsPopup=True','',0,0)">
                                                <div class="btn-outline-primary" style="border:solid;border-color:darkgray;border-width:1px;margin-left:5px">
                                                    <div class="infobox-icon">
                                                        <img src="~/images/Rental/Dashboard/icons8-cheap-$2-50.png"style="margin-left:2px" />
                                                    </div>
                                                    <div class="infobox-data"style="margin-left:15px;width:210px">
                                                        <span class="infobox-data-number ng-binding">8</span>
                                                        <div class="infobox-content" style="text-decoration: underline; color: none;">Sản phẩm quá hạng đóng tiền<ul></ul></div>
                                                    </div>
                                                    @*<div class="badge badge-danger">
                                                        75.311.676 VNĐ
                                                    </div>*@
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(function () {
                        $("#Dashboard_Summary").load("/RealEstateReport/Dashboard_Summary");
                        $("#Dashboard_Invoice").load("/RealEstateReport/Dashboard_Invoice");
                        $("#Dashboard_Contract").load("/RealEstateReport/Dashboard_Contract");
                        $("#Dashboard_SummaryInvoiceEW").load("/RealEstateReport/Dashboard_SummaryInvoiceEW");
                    });
                </script>
                <!--PAGE CONTENT ENDS HERE-->
            </div>
        </div>
    </main>
</body>
</html>
