
@{
    ViewData["Title"] = "SettingServiceIndex";
}

<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/CSS_Rental/css/rental.css" rel="stylesheet" />
</head>

<body>

    <main class="app-content">
        <div class="page-item" style="height: 100%;">

            @* Tieu de *@
            <div>
                <div class="alert alert-warning" style="background-color:#009688;">
                    <h4 style="margin-bottom:0px; text-align:center;color:aliceblue">QUẢN LÝ DỊCH VỤ</h4>
                </div>
            </div>

            <div class="tile" style="height:450px">
                <div class="row">
                    <div class="tile" style="border:solid 1px;border-color:darkgray;margin-left:100px">
                        <h5 style="text-align:center"><label style="background-color:#009688;color:aliceblue">Tên dự án chứa dịch vụ</label></h5>
                        <hr />
                        
                        <div class="tile" style="overflow:auto;height:200px;border:solid 1px; border-color:darkgray">
                            <p style="font-size:16px;">
                                <a class="label" href="#" style="color:black"><h4>chung cu vang không 2 môt</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsásad</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsasầd</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsadffwqw</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsadkkak</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsásad</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsasầd</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsadffwqw</h4></a>
                                <a class="label" href="#" style="color:black"><h4>sdsadkkak</h4></a>
                            </p>
                        </div>
                    </div>
                    <div style="margin-left:250px;width:250px;height:50px">
                        <button class="btn-outline-primary"style="border:solid 1px;border-color:darkgray"> + Thêm dịch vụ vào dự án mới</button>
                    </div>

                </div>


            </div>
        </div>
    </main>
</body>

